<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title"> Sobre </h2>
                <p class="footer__about-text">
                    lights will guide your home and ignite your bones and i will try to fix you!
                </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>email@email.com.br</li>
                <li><i class="fa-solid fa-phone"></i> +55 (00) 1234-5678</li>
                <li><i class="fa-brands fa-square-whatsapp"></i> +55 (00) 99999-9999</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyritghy">
        &copy; Todos direitos reservados
    </section>
</footer>
